# flyctl launch added from .build/checkouts/async-http-client/.gitignore
.build/checkouts/async-http-client/**/.build
.build/checkouts/async-http-client/**/Package.resolved
.build/checkouts/async-http-client/**/*.xcodeproj
.build/checkouts/async-http-client/**/DerivedData
.build/checkouts/async-http-client/**/.DS_Store
.build/checkouts/async-http-client/**/.swiftpm
.build/checkouts/async-http-client/**/.SourceKitten

# flyctl launch added from .build/checkouts/async-kit/.gitignore
.build/checkouts/async-kit/**/.DS_Store
.build/checkouts/async-kit/.build
.build/checkouts/async-kit/Packages
.build/checkouts/async-kit/*.xcodeproj
.build/checkouts/async-kit/**/DerivedData
.build/checkouts/async-kit/**/Package.resolved
.build/checkouts/async-kit/**/.swiftpm


# flyctl launch added from .build/checkouts/console-kit/.gitignore
.build/checkouts/console-kit/**/.build
.build/checkouts/console-kit/**/Packages
.build/checkouts/console-kit/**/*.xcodeproj
.build/checkouts/console-kit/**/Package.pins
.build/checkouts/console-kit/**/Package.resolved
.build/checkouts/console-kit/**/.DS_Store
.build/checkouts/console-kit/**/DerivedData
.build/checkouts/console-kit/**/.swiftpm
.build/checkouts/console-kit/**/Tests/LinuxMain.swift
.build/checkouts/console-kit/**/.vscode

# flyctl launch added from .build/checkouts/multipart-kit/.gitignore
.build/checkouts/multipart-kit/**/Packages
.build/checkouts/multipart-kit/**/.build
.build/checkouts/multipart-kit/**/.DS_Store
.build/checkouts/multipart-kit/**/*.xcodeproj
.build/checkouts/multipart-kit/**/Package.pins
.build/checkouts/multipart-kit/**/Package.resolved
.build/checkouts/multipart-kit/**/DerivedData
.build/checkouts/multipart-kit/**/.swiftpm

# flyctl launch added from .build/checkouts/routing-kit/.gitignore
.build/checkouts/routing-kit/**/Packages
.build/checkouts/routing-kit/**/.build
.build/checkouts/routing-kit/**/.DS_Store
.build/checkouts/routing-kit/**/*.xcodeproj
.build/checkouts/routing-kit/**/Package.pins
.build/checkouts/routing-kit/**/Package.resolved
.build/checkouts/routing-kit/**/DerivedData
.build/checkouts/routing-kit/**/.swift-version
.build/checkouts/routing-kit/**/.swiftpm


# flyctl launch added from .build/checkouts/swift-algorithms/.gitignore
.build/checkouts/swift-algorithms/**/.DS_Store
.build/checkouts/swift-algorithms/.build
.build/checkouts/swift-algorithms/Packages
.build/checkouts/swift-algorithms/*.xcodeproj
.build/checkouts/swift-algorithms/**/xcuserdata
.build/checkouts/swift-algorithms/.swiftpm
.build/checkouts/swift-algorithms/**/Package.resolved

# flyctl launch added from .build/checkouts/swift-asn1/.gitignore
.build/checkouts/swift-asn1/**/.DS_Store
.build/checkouts/swift-asn1/.build
.build/checkouts/swift-asn1/Packages
.build/checkouts/swift-asn1/*.xcodeproj
.build/checkouts/swift-asn1/**/Package.pins
.build/checkouts/swift-asn1/**/*.pem
.build/checkouts/swift-asn1/docs/1.*
.build/checkouts/swift-asn1/docs/2.*
.build/checkouts/swift-asn1/**/Package.resolved
.build/checkouts/swift-asn1/**/.podspecs
.build/checkouts/swift-asn1/**/DerivedData
.build/checkouts/swift-asn1/**/.swiftpm
.build/checkouts/swift-asn1/**/**/gyb.pyc
.build/checkouts/swift-asn1/out

.build/checkouts/swift-asn1/**/.*.sw[nop]

# flyctl launch added from .build/checkouts/swift-asn1/Benchmarks/.gitignore
.build/checkouts/swift-asn1/Benchmarks/**/.DS_Store
.build/checkouts/swift-asn1/Benchmarks/.build
.build/checkouts/swift-asn1/Benchmarks/Packages
.build/checkouts/swift-asn1/Benchmarks/**/xcuserdata
.build/checkouts/swift-asn1/Benchmarks/**/DerivedData
.build/checkouts/swift-asn1/Benchmarks/**/.swiftpm/configuration/registries.json
.build/checkouts/swift-asn1/Benchmarks/**/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.build/checkouts/swift-asn1/Benchmarks/**/.netrc
.build/checkouts/swift-asn1/Benchmarks/**/.benchmarkBaselines

# flyctl launch added from .build/checkouts/swift-async-algorithms/.gitignore
.build/checkouts/swift-async-algorithms/**/.DS_Store
.build/checkouts/swift-async-algorithms/.build
.build/checkouts/swift-async-algorithms/Packages
.build/checkouts/swift-async-algorithms/*.xcodeproj
.build/checkouts/swift-async-algorithms/**/xcuserdata
.build/checkouts/swift-async-algorithms/**/DerivedData
.build/checkouts/swift-async-algorithms/**/.swiftpm/config/registries.json
.build/checkouts/swift-async-algorithms/**/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.build/checkouts/swift-async-algorithms/**/.netrc
.build/checkouts/swift-async-algorithms/**/.swiftpm
.build/checkouts/swift-async-algorithms/**/Package.resolved
.build/checkouts/swift-async-algorithms/**/.swift-version

# flyctl launch added from .build/checkouts/swift-atomics/.gitignore
.build/checkouts/swift-atomics/**/__pycache__
.build/checkouts/swift-atomics/**/*.pyc
.build/checkouts/swift-atomics/**/.DS_Store
.build/checkouts/swift-atomics/**/.*.sw?
.build/checkouts/swift-atomics/.build
.build/checkouts/swift-atomics/.swiftpm
.build/checkouts/swift-atomics/**/xcuserdata
.build/checkouts/swift-atomics/*.xcodeproj
.build/checkouts/swift-atomics/**/.docc-build

# flyctl launch added from .build/checkouts/swift-certificates/.gitignore
.build/checkouts/swift-certificates/**/.DS_Store
.build/checkouts/swift-certificates/.build
.build/checkouts/swift-certificates/Packages
.build/checkouts/swift-certificates/*.xcodeproj
.build/checkouts/swift-certificates/**/xcuserdata
.build/checkouts/swift-certificates/**/DerivedData
.build/checkouts/swift-certificates/**/.swiftpm/config/registries.json
.build/checkouts/swift-certificates/**/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.build/checkouts/swift-certificates/**/.netrc
.build/checkouts/swift-certificates/**/Package.resolved
.build/checkouts/swift-certificates/**/.swiftpm
.build/checkouts/swift-certificates/out

# flyctl launch added from .build/checkouts/swift-certificates/Benchmarks/.gitignore
.build/checkouts/swift-certificates/Benchmarks/**/.DS_Store
.build/checkouts/swift-certificates/Benchmarks/.build
.build/checkouts/swift-certificates/Benchmarks/Packages
.build/checkouts/swift-certificates/Benchmarks/**/xcuserdata
.build/checkouts/swift-certificates/Benchmarks/**/DerivedData
.build/checkouts/swift-certificates/Benchmarks/**/.swiftpm/configuration/registries.json
.build/checkouts/swift-certificates/Benchmarks/**/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.build/checkouts/swift-certificates/Benchmarks/**/.netrc
.build/checkouts/swift-certificates/Benchmarks/**/.benchmarkBaselines

# flyctl launch added from .build/checkouts/swift-collections/.gitignore
.build/checkouts/swift-collections/**/.DS_Store
.build/checkouts/swift-collections/.swiftpm
.build/checkouts/swift-collections/.build
.build/checkouts/swift-collections/Packages
.build/checkouts/swift-collections/*.xcodeproj
.build/checkouts/swift-collections/**/xcuserdata
.build/checkouts/swift-collections/**/.*.sw?
.build/checkouts/swift-collections/Benchmarks/.swiftpm
.build/checkouts/swift-collections/Benchmarks/.build
.build/checkouts/swift-collections/**/.docc-build
.build/checkouts/swift-collections/**/__pycache__

# flyctl launch added from .build/checkouts/swift-crypto/.gitignore
.build/checkouts/swift-crypto/**/.DS_Store
.build/checkouts/swift-crypto/**/.build
.build/checkouts/swift-crypto/out
.build/checkouts/swift-crypto/Packages
.build/checkouts/swift-crypto/*.xcodeproj
.build/checkouts/swift-crypto/**/Package.pins
.build/checkouts/swift-crypto/**/*.pem
.build/checkouts/swift-crypto/docs/1.*
.build/checkouts/swift-crypto/docs/2.*
.build/checkouts/swift-crypto/**/Package.resolved
.build/checkouts/swift-crypto/**/.podspecs
.build/checkouts/swift-crypto/**/DerivedData
.build/checkouts/swift-crypto/**/.swiftpm
.build/checkouts/swift-crypto/**/**/gyb.pyc
.build/checkouts/swift-crypto/**/scripts/__pycache__

.build/checkouts/swift-crypto/**/.*.sw[nop]

.build/checkouts/swift-crypto/**/.vscode

# flyctl launch added from .build/checkouts/swift-distributed-tracing/.gitignore
.build/checkouts/swift-distributed-tracing/**/.DS_Store
.build/checkouts/swift-distributed-tracing/**/.idea
.build/checkouts/swift-distributed-tracing/.build
.build/checkouts/swift-distributed-tracing/Packages
.build/checkouts/swift-distributed-tracing/*.xcodeproj
.build/checkouts/swift-distributed-tracing/**/xcuserdata
.build/checkouts/swift-distributed-tracing/**/.swiftpm
.build/checkouts/swift-distributed-tracing/Package.resolved

# flyctl launch added from .build/checkouts/swift-distributed-tracing/Benchmarks/.gitignore
.build/checkouts/swift-distributed-tracing/Benchmarks/**/.build

# flyctl launch added from .build/checkouts/swift-distributed-tracing/Samples/Dinner/.gitignore
.build/checkouts/swift-distributed-tracing/Samples/Dinner/**/.build
.build/checkouts/swift-distributed-tracing/Samples/Dinner/**/Package.resolved

# flyctl launch added from .build/checkouts/swift-http-structured-headers/.gitignore
.build/checkouts/swift-http-structured-headers/**/.DS_Store
.build/checkouts/swift-http-structured-headers/.build
.build/checkouts/swift-http-structured-headers/Packages
.build/checkouts/swift-http-structured-headers/*.xcodeproj
.build/checkouts/swift-http-structured-headers/**/xcuserdata
.build/checkouts/swift-http-structured-headers/**/.swiftpm
.build/checkouts/swift-http-structured-headers/**/Package.resolved

# flyctl launch added from .build/checkouts/swift-http-types/.gitignore
.build/checkouts/swift-http-types/**/.DS_Store
.build/checkouts/swift-http-types/**/.swift-version

.build/checkouts/swift-http-types/.build
.build/checkouts/swift-http-types/Packages
.build/checkouts/swift-http-types/**/.xcode
.build/checkouts/swift-http-types/*.xcodeproj
.build/checkouts/swift-http-types/**/DerivedData

.build/checkouts/swift-http-types/**/.swiftpm
.build/checkouts/swift-http-types/**/Package.resolved

# DocC generated files
.build/checkouts/swift-http-types/**/.docc-build

# flyctl launch added from .build/checkouts/swift-http-types/Benchmarks/.gitignore
.build/checkouts/swift-http-types/Benchmarks/**/.DS_Store
.build/checkouts/swift-http-types/Benchmarks/.build
.build/checkouts/swift-http-types/Benchmarks/Packages
.build/checkouts/swift-http-types/Benchmarks/**/xcuserdata
.build/checkouts/swift-http-types/Benchmarks/**/DerivedData
.build/checkouts/swift-http-types/Benchmarks/**/.swiftpm/configuration/registries.json
.build/checkouts/swift-http-types/Benchmarks/**/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.build/checkouts/swift-http-types/Benchmarks/**/.netrc

# flyctl launch added from .build/checkouts/swift-log/.gitignore
.build/checkouts/swift-log/**/.DS_Store
.build/checkouts/swift-log/**/Package.resolved
.build/checkouts/swift-log/.build
.build/checkouts/swift-log/Packages
.build/checkouts/swift-log/*.xcodeproj
.build/checkouts/swift-log/**/.xcode
.build/checkouts/swift-log/**/DerivedData
.build/checkouts/swift-log/**/.swiftpm

.build/checkouts/swift-log/**/.SourceKitten
.build/checkouts/swift-log/**/docs

.build/checkouts/swift-log/**/.*.sw?

# flyctl launch added from .build/checkouts/swift-metrics/.gitignore
.build/checkouts/swift-metrics/**/.DS_Store
.build/checkouts/swift-metrics/.build
.build/checkouts/swift-metrics/Packages
.build/checkouts/swift-metrics/*.xcodeproj
.build/checkouts/swift-metrics/**/.xcode
.build/checkouts/swift-metrics/**/.SourceKitten
.build/checkouts/swift-metrics/**/*.orig
.build/checkouts/swift-metrics/**/.swiftpm
.build/checkouts/swift-metrics/**/Package.resolved

# flyctl launch added from .build/checkouts/swift-nio/.gitignore
.build/checkouts/swift-nio/**/.DS_Store
.build/checkouts/swift-nio/**/.build
.build/checkouts/swift-nio/.index-build
.build/checkouts/swift-nio/Packages
.build/checkouts/swift-nio/*.xcodeproj
.build/checkouts/swift-nio/**/Package.pins
.build/checkouts/swift-nio/**/*.pem
.build/checkouts/swift-nio/docs/1.*
.build/checkouts/swift-nio/docs/2.*
.build/checkouts/swift-nio/**/Package.resolved
.build/checkouts/swift-nio/**/.podspecs
.build/checkouts/swift-nio/**/DerivedData
.build/checkouts/swift-nio/**/.swiftpm
.build/checkouts/swift-nio/**/.*.sw?
.build/checkouts/swift-nio/**/.vscode/launch.json

# flyctl launch added from .build/checkouts/swift-nio/Benchmarks/.gitignore
.build/checkouts/swift-nio/Benchmarks/**/.DS_Store
.build/checkouts/swift-nio/Benchmarks/.build
.build/checkouts/swift-nio/Benchmarks/Packages
.build/checkouts/swift-nio/Benchmarks/**/xcuserdata
.build/checkouts/swift-nio/Benchmarks/**/DerivedData
.build/checkouts/swift-nio/Benchmarks/**/.swiftpm/configuration/registries.json
.build/checkouts/swift-nio/Benchmarks/**/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.build/checkouts/swift-nio/Benchmarks/**/.netrc
.build/checkouts/swift-nio/Benchmarks/**/.benchmarkBaselines

# flyctl launch added from .build/checkouts/swift-nio-extras/.gitignore
.build/checkouts/swift-nio-extras/**/.DS_Store
.build/checkouts/swift-nio-extras/.build
.build/checkouts/swift-nio-extras/Packages
.build/checkouts/swift-nio-extras/*.xcodeproj
.build/checkouts/swift-nio-extras/**/Package.pins
.build/checkouts/swift-nio-extras/**/*.pem
.build/checkouts/swift-nio-extras/docs
.build/checkouts/swift-nio-extras/**/Package.resolved
.build/checkouts/swift-nio-extras/**/.swiftpm
.build/checkouts/swift-nio-extras/**/.vscode

# flyctl launch added from .build/checkouts/swift-nio-http2/.gitignore
.build/checkouts/swift-nio-http2/**/.DS_Store
.build/checkouts/swift-nio-http2/**/.build
.build/checkouts/swift-nio-http2/Packages
.build/checkouts/swift-nio-http2/*.xcodeproj
.build/checkouts/swift-nio-http2/**/Package.pins
.build/checkouts/swift-nio-http2/**/Package.resolved
.build/checkouts/swift-nio-http2/**/*.pem
.build/checkouts/swift-nio-http2/**/DerivedData
.build/checkouts/swift-nio-http2/**/.swiftpm
.build/checkouts/swift-nio-http2/**/Tests/hpack-test-case
.build/checkouts/swift-nio-http2/**/cachegrind.out.*

# flyctl launch added from .build/checkouts/swift-nio-ssl/.gitignore
.build/checkouts/swift-nio-ssl/**/.DS_Store
.build/checkouts/swift-nio-ssl/.build
.build/checkouts/swift-nio-ssl/Packages
.build/checkouts/swift-nio-ssl/*.xcodeproj
.build/checkouts/swift-nio-ssl/**/Package.pins
.build/checkouts/swift-nio-ssl/**/Package.resolved
.build/checkouts/swift-nio-ssl/**/*.pem
.build/checkouts/swift-nio-ssl/docs
.build/checkouts/swift-nio-ssl/**/DerivedData
.build/checkouts/swift-nio-ssl/.idea
.build/checkouts/swift-nio-ssl/**/.swiftpm

# flyctl launch added from .build/checkouts/swift-nio-transport-services/.gitignore
.build/checkouts/swift-nio-transport-services/**/.DS_Store
.build/checkouts/swift-nio-transport-services/.build
.build/checkouts/swift-nio-transport-services/Packages
.build/checkouts/swift-nio-transport-services/*.xcodeproj
.build/checkouts/swift-nio-transport-services/**/Package.pins
.build/checkouts/swift-nio-transport-services/**/Package.resolved
.build/checkouts/swift-nio-transport-services/**/*.pem
.build/checkouts/swift-nio-transport-services/**/*.xcconfig
.build/checkouts/swift-nio-transport-services/**/.swiftpm

# flyctl launch added from .build/checkouts/swift-numerics/.gitignore
.build/checkouts/swift-numerics/**/.DS_Store
.build/checkouts/swift-numerics/*XCTestManifests.swift
.build/checkouts/swift-numerics/.build
.build/checkouts/swift-numerics/Packages
.build/checkouts/swift-numerics/*.xcodeproj
.build/checkouts/swift-numerics/.swiftpm
.build/checkouts/swift-numerics/**/.*.sw?

# flyctl launch added from .build/checkouts/swift-service-context/.gitignore
.build/checkouts/swift-service-context/**/.DS_Store
.build/checkouts/swift-service-context/**/Package.resolved
.build/checkouts/swift-service-context/.build
.build/checkouts/swift-service-context/Packages
.build/checkouts/swift-service-context/*.xcodeproj
.build/checkouts/swift-service-context/**/xcuserdata
.build/checkouts/swift-service-context/**/.swiftpm
.build/checkouts/swift-service-context/**/.vscode
.build/checkouts/swift-service-context/**/.history

# flyctl launch added from .build/checkouts/swift-service-context/Benchmarks/.gitignore
.build/checkouts/swift-service-context/Benchmarks/**/.build

# flyctl launch added from .build/checkouts/swift-service-lifecycle/.gitignore
.build/checkouts/swift-service-lifecycle/**/.DS_Store
.build/checkouts/swift-service-lifecycle/.build
.build/checkouts/swift-service-lifecycle/Packages
.build/checkouts/swift-service-lifecycle/*.xcodeproj
.build/checkouts/swift-service-lifecycle/**/xcuserdata
.build/checkouts/swift-service-lifecycle/**/.swiftpm
.build/checkouts/swift-service-lifecycle/**/Package.resolved

.build/checkouts/swift-service-lifecycle/**/.swift-version

# flyctl launch added from .build/checkouts/swift-system/.gitignore
.build/checkouts/swift-system/**/.DS_Store
.build/checkouts/swift-system/.swiftpm
.build/checkouts/swift-system/.build
.build/checkouts/swift-system/Packages
.build/checkouts/swift-system/*.xcodeproj
.build/checkouts/swift-system/**/xcuserdata
.build/checkouts/swift-system/**/.*.sw?
.build/checkouts/swift-system/.swiftpm
.build/checkouts/swift-system/**/.docc-build

# flyctl launch added from .build/checkouts/vapor/.gitignore
.build/checkouts/vapor/**/Packages
.build/checkouts/vapor/**/.build
.build/checkouts/vapor/**/.index-build
.build/checkouts/vapor/**/.DS_Store
.build/checkouts/vapor/**/*.xcodeproj
.build/checkouts/vapor/**/DerivedData
.build/checkouts/vapor/**/Package.resolved
.build/checkouts/vapor/**/.swiftpm
.build/checkouts/vapor/**/Tests/LinuxMain.swift
.build/checkouts/vapor/**/.vscode
.build/checkouts/vapor/**/.bash_history
.build/checkouts/vapor/**/.cache

# API Docs Generation
.build/checkouts/vapor/**/generate-package-api-docs.swift
.build/checkouts/vapor/**/public
.build/checkouts/vapor/**/theme-settings.json

# flyctl launch added from .build/checkouts/websocket-kit/.gitignore
.build/checkouts/websocket-kit/**/.DS_Store
.build/checkouts/websocket-kit/.build
.build/checkouts/websocket-kit/Packages
.build/checkouts/websocket-kit/*.xcodeproj
.build/checkouts/websocket-kit/**/DerivedData
.build/checkouts/websocket-kit/**/.swiftpm
.build/checkouts/websocket-kit/**/Package.resolved
.build/checkouts/websocket-kit/**/.devcontainer

# flyctl launch added from .gitignore
**/.DS_Store
.build
Packages
**/xcuserdata
**/DerivedData
**/.swiftpm/configuration/registries.json
**/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
**/.netrc
fly.toml
